body {
	font-family: 'Montserrat', sans-serif;
	background: lightyellow;
	font-size: 30px;
	text-align: center;
}
h1 {
	text-align: center;
	color: lightblue;
	font-size: 70px;
}
input {
	font-family: 'Montserrat', sans-serif;
	width: 200px;
	height: 30px;
	margin-right: 10px;
	font-size: 20px;
}
button {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
ul {
	list-style: none;
}
.container {
	padding: 20px;
	border: 5px solid pink;
	border-radius: 25px;
}
.add-btn {
	background: lightblue;
	text-align: center;
	width: 40px;
	height: 40px;
}
.delete-btn {
	background: pink;
	margin: 20px;
}
